<form [formGroup]="itemForm">
  <div class="modal-header">
    <h4 class="modal-title">Item Details</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <img src="{{imageUrl}}" width="75px" class="center_align" />
    <input type="hidden" formControlName="$key">
    <div class="form-group">
      <label>Name</label>
      <input class="form-control" formControlName="itemName" placeholder="Item Name">
    </div>
    <div class="form-group">
      <label>Price</label>
      <div class="input-group">
        <div class="input-group-append">
          <i class="input-group-text" style="font-weight: bold">&#8377;</i>
        </div>
        <input class="form-control" formControlName="itemPrice" placeholder="Price">
      </div>
    </div>
    <div class="form-group">
      <label>Image</label>
      <input class="form-control" #itemImage formControlName="itemImage" type="file" (change)="detectFiles($event)">
    </div>
    <div class="form-group">
      <button class="btn btn-default" type="submit" [disabled]="!itemForm.valid" (click)="onSubmit()">
        <i class="fa fa-floppy-o"></i>
        Submit
      </button>
      <button class="btn btn-default" type="button" (click)="resetForm()">
        <i class="fa fa-repeat"></i>
        Reset
      </button>
    </div>
  </div>
  <ngx-spinner bdColor = "rgba(51, 51, 51, 0.8)" size = "medium" color = "#fff" type = "ball-spin-clockwise"></ngx-spinner>
</form>